.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4vh 0;
  padding-bottom: 2vh;
  border-bottom: 2px solid brown;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  height: 9vh;
  justify-content: space-between;
}

.name {
  font-size: medium;
  font-weight: bold;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10vw;
  align-items: center;
}

.price {
  color: brown;
  font-weight: bold;
  font-size: small;
}

.amount {
  color: brown;
  font-weight: bold;
  font-size: small;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 6px;
  width: 1.5vw;
  border-radius: 5px;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 7vw;
}

.controls > input {
  width: 3vw;
  background-color: white;
  border: 1pt solid rgba(0, 0, 0, 0.5);
  border-radius: 5pt;
  font-size: large;
  color: brown;
  font-weight: bolder;
  vertical-align: middle;
  cursor: pointer;
}

.controls > input:active {
  background-color: brown;
  color: white;
}
